body {
    font-family: sans-serif;
    background-color: #58399A ;
}
header{
    background-color: #DBFF00;
    height: 65px; 
    color:black;
    margin: 20px;
    padding: 0px;
}
h1 {
    color: #000000;
    text-align: center;
    border: 20px #A52A2A;
}
footer{
   background-color: #FFB800;
   text-align: center;
   height: 150px;
   border: 10px double #ffffff;
   margin: 20px;
}
nav a{
    font-size: 20 px;
    text-decoration: none;
    color: black;
    border: 3px dashed #b74cff;
    border-radius: 20 px;
    background-color: #DBFF00;
    text-align: center ;
    margin-left: 90px;
}

main{
    background-color: #FFB800;
    margin: 20px;
    border: 10px double white;
}

p{
    background-color: #FFDD65;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h2{
    background-color: #ffde66;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

h3{
    background-color: #FFDD65;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

ul{
    background-color: #e47f51;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

ol{
    background-color: #e47f51;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.contacts{
    font-size: 20 px;
    text-decoration: none;
    color: black;
    border: 3px dashed #b74cff;
    border-radius: 20 px;
    background-color: #DBFF00;
}
